<div class="task-item_change" *ngIf="isTaskEdit, else taskItem">
  <form class="task-form" [formGroup]="taskChangeInput">
    <div class="task-field">
      <input
            class="task-input"
            #inputElement
            formControlName="newTaskName"
            (blur)="editTask()"
            (keyup.enter)="changeNameTask(task)"
      >
    </div>
  </form>
</div>
<ng-template #taskItem>
  <div class="task-item"  [ngClass]="{complete: task.complited}" (dblclick)="editTask()">
    <mat-checkbox class="task-item__checkbox" [checked]="task.complited" (change)="changeStatusTask(task)"></mat-checkbox>
    <p class="task-item__name">{{ task.taskname }}</p>
    <button mat-icon-button class="task-item__btn" (click)="deleteTask(task)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>